.form {
  color: rgba($color-dark-1, .5);
  font-size: 1.3rem;
  text-align: center;
  width: 100%;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__row &__group {
    &:first-child {
      width: 60%;
    }

    width: 30%;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    text-align: start;
  }

  &__label {
    margin-bottom: .5rem;
  }

  &__input {
    padding: 1rem;
    color: rgba($color-dark-1, .5);
    font-size: 1.3rem;
    background-color: transparent;
    border: .1rem solid rgba($color-dark-1, .1);
    border-radius: .4rem;
  }

  button.btn--main {
    margin-right: 0;
  }
}
