.hot {
  background-color: rgba($color-green-1, 1);
  padding: .5rem 1rem;
  border-radius: 4rem;
  color: $color-white;
  display: inline-flex;
  align-items: center;
  font-weight: bold;

  img {
    width: 1.8rem;
    margin-right: 1rem;
  }
}
